@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --transition-blurb-aspect-ratio: 0.2375;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.navbar {
  font-size: 24px;
  font-style: normal;
  line-height: normal;
}

.navbar-title {
  font-weight: 700;
}

.navbar-items {
  font-weight: 400;
}
