@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --transition-blurb-aspect-ratio: 0.2375;
  --beige: #F1DAC4;
  --orange: #FF8965;
  --blue: #474973;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html{
  scroll-padding-top: 10vh;
  scroll-behavior: smooth;
}

ul{
  list-style: disc;
  list-style-position: inside;
  padding-left: 24px;
}

h3{
  font-size: 20px;
  font-weight: 500;
  text-wrap: nowrap;
}

h2 {
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}