.mainSection {
  display: relative;
  height: 90vh;
}

.contentSection{
  position: absolute;
  padding: 0rem 4rem;
  gap: 4rem;
  display: flex;
  place-content: center;
  flex-direction: column;
  left: 0; 
  right: 0; 
  top: 0;
  bottom: 0;
  color: white;
  background-color: rgb(0, 0, 0, 0.5);
}

.titleBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  text-align: center;
  text-wrap: wrap;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
}

.subTitle {
  text-align: center;
  text-wrap: wrap;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.bio {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.list {
  list-style: disc;
  padding: 0px 48px;
}

.iconLayout {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  justify-content: center;
}

.backgroundBlurbFade {
  display: block;
}

.backgroundBlurbFade.backgroundBlurbFadeIn {
  animation-duration: 1s;
  animation-name: fadein;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.backgroundBlurbFade.backgroundBlurbFadeOut {
  animation-duration: 1.75s;
  animation-name: fadeout;
}
@keyframes fadeout {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (min-width: 1024px) {
  .mainSection {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .contentSection {
    position: static;
    color: black;
    background-color: transparent;
  }

  .bio {
    font-size: 24px;
  }

  .backgroundBlurbFade {
    display: block;
    width: 100%;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }
}
