.cardContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    width: 100%;
    max-width: 399px;
    height: 477px;

    border-radius: 24.5px;
    border: 4px solid #FF8965;
}