.featuredCardContainer {
  display: inline-block;
  border-radius: 24.5px;
  border: 4px solid #ff8965;
  height: 100%;
  max-width: 400px;
}

.recentCardContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 16px;
}

.cardTitleContainer {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.cardTitle {
  color: #000;
  font-size: 32px;
  font-weight: 600;
}

.cardSubTitle {
  color: #000;
  font-size: 16px;
  font-style: italic;
  font-weight: 600;
}

.cardDescription {
  color: #000;
  font-size: 16px;
  font-weight: 400;
}

.cardReadMore {
  color: #ff8965;
  font-size: 32px;
  font-weight: 600;
}

.cardDivider {
  width: 100%;
  border-color: #ff8965;
}

@media (min-width: 1024px){
  .recentCardContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}