.container {
  display: flex;
  flex-direction: column;
  gap: 48px;
  background-color: var(--beige);
  padding: 48px 64px 0px 64px;
  color: black;
}

.biographyContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.biography {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.profilePhoto {
  height: 64px;
  width: 64px;
  position: relative;
  flex-shrink: 0;
  border-radius: 50%;
}

.experienceSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
}

.experienceContainer {
  justify-content: space-between;
  height: fit-content;
  position: relative;
  border-radius: 24.5px;
  border-width: 4px;
  border-color: var(--orange);
  padding: 16px;
  color: white;
  align-items: center;
}

.logoContainer {
  height: 64px;
  width: 64px;
  position: relative;
}

.titleContainer {
  display: flex;
  flex-direction: column;
}




.timelineContainer {
  position: relative;
  width: 100%;
  margin: auto;
  height: 300px;
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.timelineLine {
  position: absolute;
  top: 50%;
  height: 5px;
  width: 100%;
  transform: translateY(-50%);
  background: #d9d9d9;
}

.boxContainer {
  width: 150%;
  position: relative;
  min-height: 300px;
}

.date {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 50px;
  height: 50px;

  border-radius: 100%;
  border: 2px solid #d9d9d9;
  background: #fff;

  display: grid;
  place-items: center;
}

.date p {
  font-size: 8px;
}

.boxTop .boxContent {
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.boxBottom .boxContent {
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0px;
}


.box-content p {
  margin: 0;
  color: white;
  text-align: center;
}

@media (min-width: 1024px) {
  .biographyContainer {
    flex-direction: row-reverse;
    gap: 48px;
  }

  .profilePhoto {
    height: auto;
    width: 480px;
    border-radius: 24.5px;
  }
}
